.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
!storage/app/public/.gitignore
public/build
public/hot
tests
.phpunit.cache
.phpunit.result.cache
database/database.sqlite
